<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EpicOS</title>
    <environment include="Development">
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/css/dataTables.bootstrap4.css" rel="stylesheet" />
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
        <link href="~/css/front.css" rel="stylesheet" />
        <link href="~/css/sb-css/sb-admin.css" rel="stylesheet" />
        <link href="~/css/stick.css" rel="stylesheet" />
        <link href="~/css/floor/floor-style.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    @RenderSection("Styles", required: false)
</head>


<body id="page-top">
    <nav class="navbar navbar-expand static-top" style="background-color: #003366">
        <a class="navbar-brand mr-1" href="~/Home">EPIC OS</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fa fa-bars"></i>
        </button>


        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-12">
            <li class="nav-item dropdown no-arrow">
                <button class="btn btn-info" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link side-nav-link" id="nav-home" href="/Home">
                    <i class="fa fa-tachometer"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link side-nav-link" id="nav-office" href="/Office">
                    <i class="fa fa-home"></i>
                    <span> Offices</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link side-nav-link" id="nav-device" href="/Device">
                    <i class="fa fa-microchip"></i>
                    <span>Devices</span>
                </a>
            </li>
            <li class="nav-item" hidden>
                <a class="nav-link side-nav-link" id="nav-book" href="/Book">
                    <span>Bookings</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link side-nav-link" id="nav-user" href="/User">
                    <i class="fa fa-user"></i>
                    <span> User</span>
                </a>
            </li>
        </ul>

        <div id="content-wrapper" style="overflow: hidden;">
            <!-- Page Content -->
            @RenderBody()
            <!-- /.container-fluid -->
            <!-- Sticky Footer -->
            <footer id="footer-main">
                <small>Copyright © EPIC OS 2020</small>
                <br />
                <small>Contact us here:</small>
                <a href="#" class="fa fa-google google-css"></a>
                <a href="#" class="fa fa-skype skype-css"></a>

            </footer>

        </div>

        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <partial name="_CookieConsentPartial" />
    <environment include="Development">
        <script src="~/js/jquery-3.4.1.js"></script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/jquery.dataTables.js"></script>
        <script src="~/js/dataTables.bootstrap4.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/sb-admin.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>


        <!--FOR SHOW PASSWORD IN USER PAGE-->
        <script>
            $(".make-pass").attr("type", "password");
        </script>

        <script>
            function showPass() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
            $(function ($) {
                $("ul a")
                    .click(function (e) {
                        var link = $(this);

                        var item = link.parent("li");

                        if (item.hasClass("link-active")) {
                            item.removeClass("link-active").children("a").removeClass("link-active");
                        } else {
                            item.addClass("link-active").children("a").addClass("link-active");
                        }

                        if (item.children("ul").length > 0) {
                            var href = link.attr("href");
                            link.attr("href", "#");
                            setTimeout(function () {
                                link.attr("href", href);
                            }, 300);
                            e.preventDefault();
                        }
                    })
                    .each(function () {
                        var link = $(this);
                        if (link.get(0).href === location.href) {
                            link.addClass("link-active").children("li").addClass("link-active");
                            return false;
                        }
                    });
            });
        </script>

        <script>
            // Home HIGHLIGHT
            var strUrl = String(window.location.pathname);
            if (strUrl.indexOf("Home") == true) {
                $("#nav-home").addClass("nav-active");
            }
            // Office HIGHLIGHT
            var strUrl = String(window.location.pathname);
            if (strUrl.indexOf("Office") == true) {
                $("#nav-office").addClass("nav-active");
            }
            // Device HIGHLIGHT
            var strUrl = String(window.location.pathname);
            if (strUrl.indexOf("Device") == true) {
                $("#nav-device").addClass("nav-active");
            }
            // User HIGHLIGHT
            var strUrl = String(window.location.pathname);
            if (strUrl.indexOf("User") == true) {
                $("#nav-user").addClass("nav-active");
            }
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">

        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    @RenderSection("Scripts", required: false)

</body>
</html>
