
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KMC Savills Portal</title>

    <!--Favicon-->
    <link rel="icon" type="image/x-icon" href="https://kmcmaggroup.com/media/2586/favicon.ico" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://kmcmaggroup.com/media/2585/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://kmcmaggroup.com/media/2588/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://kmcmaggroup.com/media/2587/favicon-16x16.png">

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    @RenderSection("styles", required: false)

</head>

<body class="bg-gradient-primary bg-skyline">

    <div class="container">
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/dashboard")*@
    @RenderSection("scripts", required: false)

</body>
</html>