@model EpicOS.Models.ViewModel.DeviceViewModel
@{
    ViewData["Title"] = "Add";
}

<div class="container-fluid">
    <form asp-action="Add">

        <div class="card">
            <div class="card-header">
                <h4 class="font-weight-bold float-left">Add Device Details</h4>
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-save"></i> Submit</button>
                <a class="btn btn-secondary float-right sub-btn" asp-action="Index"><i class="fa fa-arrow-left"></i>Back to List</a>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <label>Device</label>
                        <input asp-for="Name" class="form-control" placeholder="Device Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="col">
                        <label class="control-label">Office Name</label>
                        @Html.DropDownListFor(Model => Model.OfficeID, Model.ListOfOffices, new { @class = "form-control" })

                    </div>
                    <div class="col">
                        <label class="control-label">Floor</label>
                        @Html.DropDownListFor(Model => Model.FloorID, Model.ListOfFloors, new { @class = "form-control" })
                    </div>
                </div>

                <div class="row">
                    <div class="col" hidden>
                        <label asp-for="RoomID" class="control-label"></label>
                        <input asp-for="RoomID" class="form-control" />
                    </div>
                    <div class="col">
                        <label asp-for="MAC" class="control-label">MAC Address</label>
                        <input asp-for="MAC" class="form-control" />
                        <span asp-validation-for="MAC"></span>

                    </div>
                    <div class="col">
                        <label asp-for="IPaddress" class="control-label">IP Address</label>
                        <input asp-for="IPaddress" class="form-control" />
                        <span asp-validation-for="IPaddress"></span>
                    </div>
                    <div class="col">
                        <label asp-for="Type" class="control-label"></label>
                        @Html.DropDownListFor(Model => Model.Type, Model.ListOfDeviceTypes, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
