
@{
    ViewData["Title"] = "Monitor";
}

@section Styles { 
    <link href="~/css/floor/floor-style.min.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/monitor.js"></script>
}

<div class="row">
    <div class="col-lg-12">

        @*<div id="workpoint-1" class="workpoint" style="top: 530px;left: 203px;transform: rotate(0deg);">
            <img src="~/images/workpoint.png" />
        </div>*@
        <div id="workpoint-2" class="workpoint" style="top: 95px;left: 730px;transform: rotate(-180deg);">
            <img src="~/images/workpoint.png" />
        </div>
        <div id="workpoint-3" class="workpoint" style="top: 690px;left: 65px;transform: rotate(45deg);">
            <img src="~/images/workpoint.png" />
        </div>
        <div id="workpoint-4" class="workpoint" style="top: 706px;left: 213px;transform: rotate(0deg);">
            <img src="~/images/workpoint.png" />
        </div>
        <div id="workpoint-5" class="workpoint" style="top: 583px;left: 890px;transform: rotate(90deg);">
            <img src="~/images/workpoint.png" />
        </div>
        <div id="workpoint-6" class="workpoint" style="top: 95px;left: 268px;transform: rotate(180deg);">
            <img src="~/images/workpoint.png" />
        </div>
        <img src="~/images/floorplan.jpg" class="floorplan" style="width: 1110px; height: auto;" />
    </div>
</div>