<div class="container-fluid">
    <div class="card sticky-map" style="overflow:no-display;">
        <div class="card-header">
            <h2>Hello</h2>
        </div>
        <div class="card-body">
            <h2>AHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</h2>
        </div>
        <div class="card-footer">
            <h2>HAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</h2>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-12 col-lg-12">
                <div class="card-header">
                    <h2 class="font-weight-bold">Dashboard</h2>
                </div>
                <div class="card-body">
                    <img src="https://i.pinimg.com/originals/eb/4b/f4/eb4bf4edbe01a051d00f98f5d2fe1590.jpg" />
                </div>
            </div>
        </div>

    </div>


</div>