@model EpicOS.Models.Entities.Office

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Epic OS</title>
    <style type="text/css">
        .item {
            position: absolute;
            z-index: 1;
        }

        .drag {
            z-index: 999999;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <!-- JS -->
    <script type="text/javascript" src="/js/jquery-3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
    <script>
        $(function () {

            $(".drag").draggable({
                revert: "invalid",
                helper: 'clone',
            });
            $("#frame").droppable({
                accept: '.drag',
                drop: function (event, ui) {
                    var element = $(ui.draggable).clone();
                    var id = element.attr('id');
                    var left = ui.offset.left - $(this).offset().left;
                    var top = ui.offset.top - $(this).offset().top;
                    if ($('#frame').find('#' + id).length == 0) {
                        $(this).append(element);
                        $("#frame .drag").addClass("item " + id);
                        $("." + id).removeClass("ui-draggable drag");
                        $("." + id).css({
                            "left": left,
                            "top": top
                        });

                        $('.' + id).html('<img id="image_' + id + '" src="images/1.png" class="image"  style="width:30px; height:auto"/>');
                        $(".item").draggable({
                            containment: 'frame',
                            drag: function (event, ui) {
                                var id = ui.helper.attr('id');
                                image(id);
                            }
                        });
                        image(id);
                    }
                }
            });
        });

        function image(id) {
            var img = $('#image_' + id);
            if (img.length > 0) {
                var offset = img.offset();
                function mouse(event) {

                    if (event.shiftKey) {
                        var center_x = (offset.left) + (img.width() / 2);
                        var center_y = (offset.top) + (img.height() / 2);
                        var mouse_x = event.pageX;
                        var mouse_y = event.pageY;
                        var radians = Math.atan2(mouse_x - center_x, mouse_y - center_y);
                        var degree = (radians * (180 / Math.PI) * -1) + 90;
                        img.css('-moz-transform', 'rotate(' + degree + 'deg)');
                        img.css('-webkit-transform', 'rotate(' + degree + 'deg)');
                        img.css('-o-transform', 'rotate(' + degree + 'deg)');
                        img.css('-ms-transform', 'rotate(' + degree + 'deg)');
                    }
                }

                $('#image_' + id).mousemove(mouse);
            }
        }
    </script>
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="navbar">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                            <a class="navbar-brand" href="#">Epic OS</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a href="#"><i class="fa fa-map-marker"></i>Work Places</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-puzzle-piece"></i>Devices<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                                                    <path d="M17 16l-4-4V8.82C14.16 8.4 15 7.3 15 6c0-1.66-1.34-3-3-3S9 4.34 9 6c0 1.3.84 2.4 2 2.82V12l-4 4H3v5h5v-3.05l4-4.2 4 4.2V21h5v-5h-4z" />
                                                </svg> Hubs
                                            </a>
                                        </li>
                                        <li><a href="#"><i class="fa fa-plus-circle"></i>Work Points</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>AWS<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="fa fa-users"></i>Groups</a></li>
                                        <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                                        <li><a href="#"><i class="fa fa-code"></i>API</a></li>
                                        <li><a href="#"><i class="fa fa-sign-out"></i>Sign Out</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section id="middle-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="map map-inner">
                        <div class="overlay">&nbsp;</div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d581904.12021652!2d-122.52898774075618!3d47.350612733134426!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54905c43439dfcdb%3A0x4bb845effe56d67e!2sNorth+American+Van+Lines!5e0!3m2!1sen!2sin!4v1562152847810!5m2!1sen!2sin"></iframe>
                    </div>
                </div>
               
            </div>
            <div class="clearfix"></div>
            <div class="tabs-accordian">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Floor Plans</a></li>
                        <li id="work_li"><a href="#tab2" data-toggle="tab">Work Points</a></li>
                        <li id="hub_li"><a href="#tab3" data-toggle="tab">Hubs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne"> Tab 1 </a> </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="no-data">1 Floor Plans</div>
                                        </div>
                                        <div class="col-xs-12 col-md-6"> <a href="#nogo" class="btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i>Add Floor Plan</a> </div>
                                        <!-- Modal Content-->
                                        <div id="myModal" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h1 class="modal-title">Add Floor Plan</h1>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="" method="" name="" id="">
                                                            <div class="col-xs-12">
                                                                <input placeholder="Name" type="text" name="name" id="name">
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <input placeholder="Name" type="file" name="file" id="file">
                                                            </div>
                                                            <script>
                                                                $("input#file").change(function (e) {

                                                                    for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                                                                        var file = e.originalEvent.srcElement.files[i];

                                                                        var img = document.createElement("img");
                                                                        var reader = new FileReader();
                                                                        reader.onloadend = function () {
                                                                            img.src = reader.result;
                                                                        }
                                                                        reader.readAsDataURL(file);
                                                                        $("input#file").after(img);
                                                                    }
                                                                });
                                                            </script>
                                                            <div class="clearfix"></div>
                                                        </form>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="buttons">
                                                            <div class="col-xs-6">
                                                                <button type="button" class="btn btn-default"><i class="fa fa-floppy-o"></i>Save</button>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <button type="button" class="btn btn-default"><i class="fa fa-ban"></i>Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#myModal').on('shown.bs.modal', function () {
                                                $('#myModal').trigger('focus')
                                            })
                                        </script>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <table class="table responsive" id="sort">
                                                <thead>
                                                    <tr>
                                                        <th width="20%" scope="col">Image</th>
                                                        <th width="20%" scope="col">Name</th>
                                                        <th width="20%" scope="col">WorkPlace</th>
                                                        <th width="20%" scope="col">Owner</th>
                                                        <th width="20%" scope="col">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td data-table-header="Image"><img src="images/bg.jpg" alt="" /></td>
                                                        <td data-table-header="Name">Test<span>0 hubs with 0 workPoints</span></td>
                                                        <td data-table-header="WorkPlace">USA</td>
                                                        <td data-table-header="Owner">US/Eastern&nbsp;</i></a></td>
                                                        <td data-table-header="Action">
                                                            <ul class="action">
                                                                <li>
                                                                    <a href="#nogo" data-toggle="modal" data-target="#myModal_edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>


                                                                    <!-- Modal Content-->
                                                                    <div id="myModal_edit" class="modal fade" role="dialog">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    <h1 class="modal-title">Edit Floor Plan</h1>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form action="" method="" name="" id="">
                                                                                        <div class="col-xs-12">
                                                                                            <input placeholder="Name" value="Test" type="text" name="name" id="name">
                                                                                        </div>
                                                                                        <div class="col-xs-12">
                                                                                            <input placeholder="Name" type="file" name="file" id="editfile">
                                                                                            <img src="images/bg.jpg" style="width:100%; height:auto;">
                                                                                        </div>
                                                                                        <script>
                                                                                            $("input#editfile").change(function (e) {

                                                                                                for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

                                                                                                    var file = e.originalEvent.srcElement.files[i];

                                                                                                    var img = document.createElement("img");
                                                                                                    var reader = new FileReader();
                                                                                                    reader.onloadend = function () {
                                                                                                        img.src = reader.result;
                                                                                                    }
                                                                                                    reader.readAsDataURL(file);
                                                                                                    $("input#editfile").after(img);
                                                                                                }
                                                                                            });
                                                                                        </script>
                                                                                        <div class="clearfix"></div>
                                                                                    </form>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <div class="buttons">
                                                                                        <div class="col-xs-6">
                                                                                            <button type="button" class="btn btn-default"><i class="fa fa fa-floppy-o"></i>Save</button>
                                                                                        </div>
                                                                                        <div class="col-xs-6">
                                                                                            <button type="button" class="btn btn-default"><i class="fa fa-ban"></i>Cancel</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <script>
                                                                        $('#myModal').on('shown.bs.modal', function () {
                                                                            $('#myModal').trigger('focus')
                                                                        })
                                                                    </script>
                                                                </li>
                                                                <li>
                                                                    <a href="#nogo" class="delete" data-toggle="modal" data-target="#myModal_delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>

                                                                    <!-- Modal Content-->
                                                                    <div id="myModal_delete" class="modal fade" role="dialog">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                                    <h1 class="modal-title">Delete Floor Plan</h1>
                                                                                </div>
                                                                                <div class="modal-body">
                                                                                    <form action="" method="" name="" id="">
                                                                                        <div class="col-xs-12">
                                                                                            <div class="row">
                                                                                                <p>Are you sure you want to delete this floor plan?</p>
                                                                                            </div>
                                                                                        </div>


                                                                                        <div class="clearfix"></div>
                                                                                    </form>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <div class="buttons">
                                                                                        <div class="col-xs-6">
                                                                                            <button type="button" class="btn btn-default"><i class="fa fa-check"></i>Confirm</button>
                                                                                        </div>
                                                                                        <div class="col-xs-6">
                                                                                            <button type="button" class="btn btn-default"><i class="fa fa-ban"></i>Cancel</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <script>
                                                                        $('#myModal').on('shown.bs.modal', function () {
                                                                            $('#myModal').trigger('focus')
                                                                        })

                                                                        /**/</script>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-table-header="Image"><img src="images/bg.jpg" alt="" /></td>
                                                        <td data-table-header="Name">Test<span>0 hubs with 0 workPoints</span></td>
                                                        <td data-table-header="WorkPlace">USA</td>
                                                        <td data-table-header="Owner">US/Eastern&nbsp;</i></a></td>
                                                        <td data-table-header="Action">
                                                            <ul class="action">
                                                                <li><a href="#nogo"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                                <li>
                                                                    <a href="#nogo" class="delete" data-toggle="modal" data-target="#myModal_delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-table-header="Image"><img src="images/bg.jpg" alt="" /></td>
                                                        <td data-table-header="Name">Test<span>0 hubs with 0 workPoints</span></td>
                                                        <td data-table-header="WorkPlace">USA</td>
                                                        <td data-table-header="Owner">US/Eastern&nbsp;</i></a></td>
                                                        <td data-table-header="Action">
                                                            <ul class="action">
                                                                <li><a href="#nogo"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                                <li>
                                                                    <a href="#nogo" class="delete" data-toggle="modal" data-target="#myModal_delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-table-header="Image"><img src="images/bg.jpg" alt="" /></td>
                                                        <td data-table-header="Name">Test<span>0 hubs with 0 workPoints</span></td>
                                                        <td data-table-header="WorkPlace">USA</td>
                                                        <td data-table-header="Owner">US/Eastern&nbsp;</i></a></td>
                                                        <td data-table-header="Action">
                                                            <ul class="action">
                                                                <li><a href="#nogo"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                                <li>
                                                                    <a href="#nogo" class="delete" data-toggle="modal" data-target="#myModal_delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td data-table-header="Image"><img src="images/bg.jpg" alt="" /></td>
                                                        <td data-table-header="Name">Test<span>0 hubs with 0 workPoints</span></td>
                                                        <td data-table-header="WorkPlace">USA</td>
                                                        <td data-table-header="Owner">US/Eastern&nbsp;</i></a></td>
                                                        <td data-table-header="Action">
                                                            <ul class="action">
                                                                <li><a href="#nogo"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
                                                                <li>
                                                                    <a href="#nogo" class="delete" data-toggle="modal" data-target="#myModal_delete"><i class="fa fa-trash" aria-hidden="true"></i> </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo"> WorkPoints </a> </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div id="wrapper">
                                                <div class="col-xs-12 col-md-2 col-md-push-10">
                                                    <h1>Work Tags</h1>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div id="options">
                                                                <div id="drag1" class="drag hub_a">Workpoint A1</div>
                                                                <div id="drag2" class="drag hub_a">Workpoint A2</div>
                                                                <div id="drag3" class="drag hub_b">Workpoint B1</div>
                                                                <div id="drag4" class="drag hub_b">Workpoint B2</div>
                                                                <div id="drag5" class="drag hub_b">Workpoint B3</div>
                                                                <div id="drag6" class="drag hub_b">Workpoint B4</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-10 col-md-pull-2" id="workDefault">
                                                    <div id="frame"> <img class="img-responsive" src="images/bg.jpg" alt="" /> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"> <a data-toggle="collapse" data-parent=".tab-pane" href="#collapseFour"> Tab 4 </a> </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div id="wrapper">
                                                <div class="col-xs-12 col-md-2 col-md-push-10">
                                                    <h1>Hubs</h1>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="hub-section_a">
                                                                <h3 onclick="show_workpoint('hub_a');">Hub A</h3>
                                                                <div id="hub_a_options" class="option" style="display: none;">
                                                                    <div>Work Point A1</div>
                                                                    <div>Work Point A2</div>
                                                                </div>
                                                            </div>
                                                            <div class="hub-section_b">
                                                                <h3 onclick="show_workpoint('hub_b');">Hub B</h3>
                                                                <div id="hub_b_options" class="option" style="display: none;">
                                                                    <div>Work Point B1</div>
                                                                    <div>Work Point B2</div>
                                                                    <div>Work Point B3</div>
                                                                    <div>Work Point B4</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-10 col-md-pull-2" id="workClone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#hub_li').click(function () {
                var frame = $('#workDefault').html();
                $('#workClone').html(frame);
            });
            $('#work_li').click(function () {
                $('#workClone').html('');
            });
        });

        function show_workpoint(arg) {
            $('#hub_a_options').hide();
            $('#hub_b_options').hide();
            if (arg == 'hub_a') {
                $('#hub_a_options').show();
            } else if (arg == 'hub_b') {
                $('#hub_b_options').show();
            }
            $('#workClone').find('.hub_a').removeClass('higlight');
            $('#workClone').find('.hub_b').removeClass('higlight');
            $('#workClone').find("." + arg).addClass('higlight');
        }
    </script>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="left">&copy; 2019 Epic OS</div>
                    <div class="right">@DateTime.UtcNow | version 1.0</div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
