form {
    width: 100%;
    margin: 10px;
    padding: 0px 12px;
}

#file {
    padding: 5px;
}

.sub-btn {
    margin-right: 20px;
}

#map {
    height: 600px;
    width: 100%;
}

span {
    color: red;
    font-family: Arial;
}

#image {
    width: 100% !important;
    height: 100% !important;
    border: 5px solid red;
}

#mainSticky {
    border: 5px solid red;
}

#image {
    opacity: .9;
    transition: 0.3s;
}

#image:hover {
    transform: scale(.9);
}
#columnCard 
{
    float: left !important;
    width: 25%;
    padding: 0 10px;
    border: 5px solid red;
}

.label-info
{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.label-address
{
    font-size: 15px;
}
.card {
    padding: 10px;
}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: black;
}