@model EpicOS.Models.ViewModel.OfficeViewModel
@{
    ViewData["Title"] = "Add Office";
}
<div class="container-fluid">
    <form asp-action="Add" enctype="multipart/form-data">
        <div class="card">
            <div class="card-header">
                <h4 class="font-weight-bold float-left">Add Office Details</h4>
                <button type="submit" class="btn btn-primary float-right" onclick="ResizeImage()"><i class="fa fa-save"></i> Submit</button>
                <a href="~/Office/" class="btn btn-secondary float-right btn-margins"><i class="fa fa-arrow-left"></i>Back to Office List</a>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-12 col-md-8 col-lg-6">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-8 col-md-6 col-lg-12">
                                            <div class="form-group">
                                                <label asp-for="Name">Office Name</label>
                                                <input asp-for="Name" type="text" class="form-control">
                                                <span asp-validation-for="Name"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8 col-md-6 col-lg-12">

                                            <div class="form-group">
                                                <label asp-for="Address">Address</label>
                                                <input asp-for="Address" type="text" class="form-control">
                                                <span asp-validation-for="Address"></span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row" disabled>
                                        <div class="col-12 col-sm-4 col-md-4 col-lg-12">
                                            <label asp-for="CityID">City</label>
                                            @Html.DropDownListFor(Model => Model.CityID, Model.ListOfCities.OrderBy(x => x.Text), new { @class = "form-control" })
                                            <span asp-validation-for="CityID"></span>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                            <label asp-for="Latitude">Latitude</label>
                                            <input asp-for="Latitude" type="text" class="form-control lat" required>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-4 col-lg-6">
                                            <label asp-for="Longitude">Longitude</label>
                                            <input asp-for="Longitude" type="text" class="form-control lng" required>
                                        </div>
                                    </div>
                                    <!-- Modal for file upload-->
                                    <div class="modal fade" id="fileModal" role="dialog">
                                        <div class="modal-dialog">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Upload Image</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <small class="font-italic" style="color: red;">*Select image and click done*</small>
                                                        <input asp-for="Filename" type="file" class="form-control padding-file" onchange="updateList()">
                                                        <img src="" id="profile-img-tag" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Done</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-2">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#fileModal">Upload Photo: </button>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-9">
                                            <div id="fileList"></div>
                                        </div>
                                        <span asp-validation-for="Filename" class="text-danger"></span>
                                    </div>
                                    <hr />
                                    <hr />
                                    <div class="row" hidden>
                                        <div class="form-check">
                                            <div class="col">
                                                <input asp-for="IsActive" type="checkbox" class="form-check-input" checked>
                                                <label asp-for="IsActive" class="form-check-label">IsActive</label>
                                            </div>
                                            <div class="col">
                                                <input asp-for="IsDeleted" type="checkbox" class="form-check-input" disabled>
                                                <label asp-for="IsDeleted" class="form-check-label">IsDeleted</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-2 col-md-6 col-lg-6">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts
{
    <script>
        var searchInput = 'Address';
        $(document).ready(function () {
            var autocomplete;
            autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
                types: ['geocode']
            });

            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var near_place = autocomplete.getPlace();
                document.getElementById('Latitude').value = near_place.geometry.location.lat();
                document.getElementById('Longitude').value = near_place.geometry.location.lng();

                document.getElementById('Latitude').innerHTML = near_place.geometry.location.lat();
                document.getElementById('Longitude').innerHTML = near_place.geometry.location.lng();

            });
        })
        $(document).on('change', '#' + searchInput, function () {
            alert("Hello");
            document.getElementById('Latitude').value = '';
            document.getElementById('Longitude').value = '';
            document.getElementById('Latitude').innerHTML = '';
            document.getElementById('Longitude').innerHTML = '';
        });
    </script>
    <script>
        function updateList() {
            alert("File upload..");
            var input = document.getElementById('Filename');
            var output = document.getElementById('fileList');

            output.innerHTML = '<ul>';
            for (var i = 0; i < input.files.length; ++i) {
                output.innerHTML += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML += '</ul>';
        }


    </script>


    <script src="~/js/viewimageonchange.js"></script>
    <script src="~/js/track.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDsyB1N3HPmTmg4aFJwPLv6uvqxEYtl9X8&callback=initMap" async defer></script>
}
